%h1 投稿一覧
= link_to '新規投稿', new_post_path, class: "btn btn-outline-dark form-button-common"
.row
  .tags_list.w-25.d-none.d-md-block
    = render 'tags_list', tags_list: @tags_list
  .col-8.ml-5
    = render 'public/posts/posts_index', posts: @posts
  // (仮)
  = paginate @posts