= form_with model: [post, comment], local: false do |f|
  #error-message
    = render "layouts/errors", obj: comment
  
  // ログインしないとコメントできないこと分岐
  = user_signed_in? ? (f.text_area :comment, placeholder: "コメントを打つ") : (f.text_area :comment, placeholder: "ログイン後に送信できます")
  = f.submit '送信', class: "font-weight-bold"