// - @records.each do |record|
//   - if record.class == Post
//     = render 'public/posts/post_show', post: record
//     = paginate @records
//   - elsif record.class == User
//     = render 'public/users/user_show', user: record
//     = paginate record
    
- if @posts.present?
  = render 'public/posts/posts_index', posts: @posts
- if @users.present?
  = render 'public/users/user_index', users: @users
  
    
    
    
    
    
    
// %ul#myTab.text-center.nav.nav-tabs{role: "tablist"}
//   %li.nav-item.w-50.bg-light
//     %a#follower-tab.nav-link.active.link-text{"aria-controls" => "user", "aria-selected" => "true", "data-toggle" => "tab", href: "#user", role: "tab"} ユーザー
//   %li.nav-item.w-50.bg-light
//     %a#followed-tab.nav-link.link-text{"aria-controls" => "post", "aria-selected" => "false", "data-toggle" => "tab", href: "#post", role: "tab"} 投稿
  
// - @records.each do |record|
//   - if record.class == User
//     #myTabContent.tab-content
//       #user.tab-pane.fade.show.active{"aria-labelledby" => "user-tab", role: "tabpanel"}
//         .ml-1.mt-3.mb-2
//           = render 'public/users/user_show', user: record



//   - elsif record.class == Post      
//     #post.mb-5.tab-pane.fade{"aria-labelledby" => "post-tab", role: "tabpanel"}
//       .ml-1.mt-5.mb-2
//         = render 'public/posts/post_show', post: record
  
  
  
// - if @records.klass == Post
//   = render 'public/posts/posts_index', posts: @records
// - elsif @records.klass == User
//   = render 'public/users/user_index', users: @records