

// %h2.mt-4 ぜひ外乗の思い出を投稿してください
.text-center.col-sm-10.mx-auto
  = link_to new_user_session_path do
    .devise-link.col-md-6.col-lg-6.mx-auto.mt-5
      %i.fas.fa-apple-alt
      %bログイン

  = link_to new_user_registration_path do
    .devise-link.col-md-6.col-lg-6.mx-auto.mt-3
      %b 新規登録
      %i.fas.fa-horse

  = link_to about_path do
    .basic-button.col-md-6.col-lg-6.mx-auto.my-3.text-center
      %b 初めての方はこちら