= link_to 'トップページに戻る', root_path

%h4
  %i.fas.fa-horse
  何をするサイト？
.row.col-md-12.col-lg-11.mx-auto
  .top-image-position.top-image1.col-md-2.col-lg-3
  .top-text.col-xs-12.col-md-9.col-lg-9.balloon1
    %p
    「〇〇って所とても良かったからおすすめしたい！」<br>
    「感想を言いたいけど口コミサイトでしっかり書くのは面倒だな〜」
  .top-image-position.top-image2.col-md-2.col-lg-3
  .about-text-right.col-xs-12.col-md-9.col-lg-9.balloon2
    %span
      「気軽に外乗の情報が知りたい」<br>
      「乗馬が初めてで不安…実際に体験した人の感想が知りたい」<br>
    %span.no-text-phone
      「〇〇って外乗施設に行こうか悩んでる。」<br>
      「実際に行ったことある人の感想が知りたい！」
= link_to posts_path do
  .button-border.text-center
    こんな経験があれば投稿一覧へGO！
    %i.far.fa-hand-point-right
.col-sm-md-lg-11.mx-auto
  %h4
    %i.fas.fa-horse
    そもそも外乗とは？
  .row.mb-3
    .about-image-position.about-image1.col-lg-3
    .about-text.about-text-right.col-sm-11.col-lg-9
      %p 「外乗（がいじょう）」とは、乗馬施設の敷地内だけではなく山、森、川、海など自然の中を乗馬をしながら散策できる野外アクティビティのことです。
      「乗馬」と聞くと乗馬を習っていない方には関係ないように思えますが、多くの外乗施設では馬に全く乗ったことがない方でも外乗ができます。そのためむしろ敷居が低いと言えます。
  %h4
    %i.fas.fa-horse
    何が楽しいの？
  .row.mb-3
    .about-image-position.about-image2.col-lg-3
    .about-text.about-text-to-bottom.col-sm-11.col-lg-9
      %b 馬の上は想像以上に高く、人の目線よりも高い所で見る風景は全くの別のものです。
      %p
        <br>馬上で経験する大自然の中での外乗は解放感に溢れています。
        更に乗馬特有の揺れを体感することで心からリラックスする事が出来るでしょう。<br>
      %p
        しかし外乗は立派なアクティビティで、馬は生き物です。<br>
        最初は馬になかなか指示が伝わらずリラックスどころではないかもしれません。
        しかし慣れてくると馬に指示が伝わり始め、乗っている馬に愛着が湧いてきます。<br>
        乗っている馬が相棒になる、そこも外乗の楽しみの一つだと思います。<br>
  %h4
    %i.fas.fa-horse
    施設ごとの違いは？
  .row.mb-3
    .about-image-position.about-image3.col-lg-3
    .about-text.about-text-right.col-sm-11.col-lg-9      
      %p
        森が近い外乗施設であれば、普段なら近寄りもしないような神秘的な森の中を馬に乗りながら散策することが出来ます。<br>
      %p
        海が近い外乗施設では海沿いをドライブするかのように馬に乗り潮風を浴びながら散歩することが出来ます。<br>
      %p
        また、乗馬を習っている方であればスキルに応じて森の中をくねくね駆け回ったり、草原や海沿いを爆走したり<br>
        他では絶対に経験出来ないことを叶えてくれるのも外乗の魅力の一つです。


  %h4
    %i.fas.fa-horse
    どこでできるの？
  .row.mb-3
    .about-image-position.about-image4.col-lg-3
    .about-text.about-text-to-bottom.col-sm-11.col-lg-9
      %p どこにでもあるわけではありませんが、意外と外乗施設はたくさんあります。
      オススメなのは旅行先で探してみることです。<br>
      %p ぜひ「気になっている旅行先　外乗」で検索してみてください。地域によってはたくさん出てきますよ！<br>
      もしも外乗メインで旅行することがあれば北海道・山梨あたりは比較的外乗施設が多いのでおすすめします。<br>
      違う施設をはしごするのも楽しそうですね！

  %h4
    %i.fas.fa-horse
    馬に乗ったことないけど…
  .row.mb-3
    .about-image-position.about-image5.col-lg-3
    .about-text.about-text-right.col-sm-11.col-lg-9
      %p ご安心ください。馬に乗ったことがない方でも外乗をすることが出来ます！
      もちろん施設によってルールがありますが、多くの施設では大歓迎です！<br>
      他では味わえない乗馬ならではの面白さ・自然の美しさ・何より乗せてくれている馬の魅力をぜひ体験してみてください。


  %h4

  = link_to posts_path do
    .button-border.text-center
      投稿一覧へGO！
      %i.far.fa-hand-point-right
