= link_to 'トップページに戻る', root_path

%h1 外乗は魅力がたっぷり
%h4
  %i.fas.fa-horse
  そもそも外乗とは？
.row.mb-3
  .about-image.image1.col-md-2
  .about-text.about-text-right.col-md-9.ml-1
    %p 「外乗」とは、乗馬施設の敷地内だけではなく山、森、川、海など自然の中を乗馬をしながら散策できる野外アクティビティのことです。
    「乗馬」と聞くと乗馬を習っていない方には関係ないように思えますが、多くの外乗施設では馬に全く乗ったことがない方でも外乗ができる施設がほとんどです。

%h4
  %i.fas.fa-horse
  どこでできるの？
.row.mb-3
  .about-image.image2.col-md-2
  .about-text.col-md-9.ml-1
    %p どこにでもあるわけではありませんが、全国に外乗施設はたくさんあります。（もちろん海外にもたくさんあります！）
    オススメなのは旅行先で探してみることです。<br>
    ぜひ「気になっている旅行先 外乗」で検索してみてください。地域によってはたくさん出てきますよ！
    もしも外乗メインで旅行することがあれば北海道・山梨あたりは比較的外乗施設が多いのでおすすめします。
    違う施設をはしごするのも楽しそうですね！

%h4
  %i.fas.fa-horse
  馬乗ったことないけど…
.row.mb-3  
  .about-image.image3.col-md-2
  .about_text.about-text-right.col-md-9.ml-1
    %p ご安心ください。馬に乗ったことがない方でも外乗を体験することが出来ます！
    もちろん施設によってルールがありますが、多くの施設では大歓迎です！
    他では味わえない乗馬ならではの面白さ・自然の美しさ・何より乗せてくれている馬の魅力をぜひご体感ください。

%h3

