.top_page_image
= link_to '外乗ってなんだろう？？ーー＞', about_path

%h2.mt-4 ぜひ外乗の思い出を投稿してください
.text-center
  %b 馬の上は想像以上に高く、人の目線よりも高い所で見る風景は格別です。
  .col-11.my-3
    馬上で経験する大自然の中での外乗は解放感に溢れていて、心からリラックスする事が出来ます。<br>
    また、外乗施設ごとに雰囲気が大きく異なるのも特徴です。<br>
    例えば森林が近い外乗施設であれば、普段なら近寄りもしないような神秘的な森の中を馬に乗りながら散策することが出来ます。<br>
    海が近い外乗施設では海沿いをドライブするかのように馬に乗り潮風を浴びながら散歩することが出来ます。<br>
    他にも乗馬を習っている方であればスキルに応じて森の中をくねくね駆け回ったり、草原や海沿いを爆走したりと、<br>
    他では絶対に経験出来ないことを叶えてくれるのも外乗の大きな魅力の一つです。


%p 
「〇〇って所とても良かったからおすすめしたい！」<br>
「感想を言いたいけど口コミサイトでしっかり書くのは面倒だな〜」


%p
  「〇〇って外乗施設に行こうか悩んでる。実際に行ったことある人の感想が知りたい！」<br>
  「初めて乗りに行っても大丈夫なのかな？」<br>
  「気軽に外乗の情報が知りたい」
%p
%bこんな時にはこのサイトを活用していってください！