%h1 質問一覧

%ul.accordion-area
  %li
    %section
      %h3.title お見積もりの目安を教えてください。
      .box
        %p 内容によって変化いたしますのでまずはお問い合わせフォームよりご相談ください。
// .accordion
//   .option
//     %input#toggle1.toggle{type: "checkbox"}/
//     %label.title{for: "toggle1"} タイトル1
//     .question-content
//       %p 本文1