%h1 オーナー用投稿詳細
.col-10.mx-auto
  = render 'admin/posts/admin_post_show', post: @post
  - unless current_page?(search_path)
    #comment_lists  
      = render 'public/comments/post_comment', comments: @comments
      .col-4.mx-auto.more-comments
        = link_to_next_page @comments, 'もっと見る', remote: true, id: "view_more"