%h1 タグ一覧
- if @tags.present? && admin_signed_in?
  - @tags.each do |tag|
    = tag.name
    = "(#{tag.posts.count})"
    = link_to '削除', tags_index_destroy_admin_post_path(tag.id),
                      method: :delete, class: "btn btn-danger"