%h1 質問一覧
.col-lg-10.mx-auto

%dl.accordion
  - @questions.each do |question|
    %dt.accordion-parent
      .d-flex.justify-content-between
        .question-title.col-lg-10.col-8
          = question.title
        .col-lg-2.col-4
          = link_to '回答する', edit_admin_question_path(question)
    %dd.accordion-child
      = question.content
      .mt-4.question-answer
        = question.answer
      