$main-color: desaturate(#DEB887, 0%);
$accent-color: adjust-hue($main-color, 200);
$base-color: #fff;
$text-color: #4a2d08;
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: desaturate(red, 30%);

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue",
               Arial
               "ヒラギノ角ゴ ProN W3",
               "Hiragino Kaku Gothic ProN",
               "Hiragino Sans",
               Meiryo,
               sans-serif;
}

.content {
  color: $text-color;
  flex: 1;
  background-image: image-url("background_image.png");
}

header, footer {
  width: 100%;
  background-color: $main-color;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.alert {
  text-align: center;
  font-weight: bold;
}

li {
  list-style: none;
}

.header-link {
transition: .4s;
border-radius: 10px
}

.header-link:hover {
transition: .4s;
background-color: rgba(250, 250, 250, 0.5) ;
}

// 見出しの下に線
h1, h2, h3 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

h1 {
  margin-bottom: 50px!important;
  &:before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: $main-color;
  }
}

h2:before, h3:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 15px);
  width: 30px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: $main-color;
}

h4 {
  margin: 30px auto!important;
  padding: 0.5em;/*文字周りの余白*/
  color: $text-color;/*文字色*/
  background: rgba($main-color, 0.1);/*背景色*/
  border-bottom: solid 3px $main-color;/*下線*/
}

.under-stripe-line {
  position: relative;
  padding: 1em 2em;
  text-align: center;
  &:before, &:after {
    position: absolute;
    content: '';
  }
}

.under-stripe-line:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.under-stripe-line:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}







.top_page_image {
  width: auto;
  height: 400px;
  background-image: image-url("top_page_image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 2px #555;
  box-sizing: border-box;
  p {
    margin: 0;
    padding: 3px;
  }
}

.balloon1 {
  @include balloon;
  &:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 9%;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 8.5%;
    border: 14px solid transparent;
    border-top: 14px solid #555;
    z-index: 1;
  }
}

.balloon2 {
  @include balloon;
  
  &:before {
    content: "";
    position: absolute;
    top: -23px;
    left: 83.5%;
    border: 12px solid transparent;
    border-bottom: 12px solid #FFF;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    top: -28px;
    left: 83%;
    border: 14px solid transparent;
    border-bottom: 14px solid #555;
    z-index: 1;
  }
}

@mixin image-position {
  width: 170px;
  height: 130px;
}

.top-image-position {
  @include image-position;
  order: 1;
  &.top-image1 {
    background: no-repeat image-url("horse_no_image.png") 5px center;
    background-size: 120px 80px;
  }
}

.top-image-position {
  @include image-position;
  &.top-image2 {
    background: no-repeat image-url("horse_no_image.png") 5px center;
    background-size: 120px 80px;
  }
}


.image-position {
  @include image-position;
  order: 1;
  &.image1 {
  background: no-repeat image-url("horse_no_image.png") 5px center;
  background-size: 120px 80px;
  }
  &.image3 {
  background: no-repeat image-url("horse_no_image.png") 5px center;
  background-size: 120px 80px;
  }
}
// ↓にorder:2が入るとスマホの時に画像が上に来ないため分けてある
.image-position {
  @include image-position;
  &.image2 {
    background: no-repeat image-url("horse_no_image.png") 5px center;
    background-size: 120px 80px;
  }
}

// 画像をabout-textの左側に配置させる
.about-text-right {
  order: 2;
}


#search-wrap {
  position: absolute;/*絶対配置にして*/
  z-index: 2;/*最前面に設定。数字は変更可*/
  right: 55px;
  bottom: 6px;
  width: 1px;
  .search-submit {
    width: 50px;
    height: 50px;
    right: 100px;
    border-style: none;
    background: no-repeat image-url("search_icon.png") 12px center;
    background-size: 20px 20px;
  }
}

/*テキスト入力input設定*/
 #search-text{
  position: relative;
  right: 7px;
  top: 47px;
  -webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
  width: 60px;/*テキスト入力エリアが伸びる前の横幅*/
  height: 45px;
  border: none;
  opacity: 0;
  background: $main-color;
  background-size: 25px 25px;
  transition: all 0.5s;/*transitionを使ってスムースに伸ばす*/
  outline: none;
  cursor: pointer;/*カーソルを指マークに*/
  &:focus {
    right: 245px;
    z-index: -1;
    opacity: 1;
    background: #eee;
    width: 250px;/*テキスト入力エリアが伸びる後の横幅*/
    padding-left: 20px;
    box-shadow: 0 2px $main-color;
    border-radius: 15px;
  }
}

.post-card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  taransform: (1.03);
}

.card_body {
  pointer-events: none;
  text-decoration:none;
  color:#000000;
}

.form-button-common {
  border: 2px solid #555;
}

.btn-style{
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    height: 45px;
    border: 2px solid #555;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/
    transition: ease .2s;
}

/*ボタン内spanの形状*/
.btn-style span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color:#333;
}

/*#########大元のボタンスタイルは変更しないでください##### */
.btn-style:hover span{
  color:#fff;
}

/*== 背景が流れる（上から下） */
.bgtop:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background:  #333;/*背景色*/
  width: 100%;
  height: 0;
    /*アニメーション*/
  transition:.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}


// /*hoverした際の形状*/
// .bgtop:hover:before{
//   height: 100%;
//   background-color: #333;
// }


// .btnchangeradius1{
//     /*ボタンの形状*/
//   display:inline-block;
//     background: #f5deb3;
//     color: #696969;
//     padding: 10px 20px;

//   border: 1px solid #555;
//     text-decoration: none;
//     outline: none;
//     /*アニメーションの指定*/
//     transition:.3s ease-out;
// }

// /*hoverした際の角丸のアニメーション*/
// .btnchangeradius1:hover{
//   background:#fffacd;
//   border-radius:20px;
// }

// .btnchangeradius2{
//     /*ボタンの形状*/
//   display:inline-block;
//     background: #fffacd;
//     color: #696969;
//     padding: 10px 20px;

//   // border: 1px solid #555;
//     text-decoration: none;
//     outline: none;
//     /*アニメーションの指定*/
//     transition:.3s ease-out;
// }