$main-color: lighten(#bcaaa4, 5%);
// $accent-color: adjust-hue($main-color, 200);
$accent-color: #efdcd5;
$button-color: darken($main-color, 10%);
$button-accent-color: darken($button-color, 15%);
$button-text: #f5f2ee;
$text-color: #4a2d08;
$white: #fff;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue",
               Arial
               "ヒラギノ角ゴ ProN W3",
               "Hiragino Kaku Gothic ProN",
               "Hiragino Sans",
               Meiryo,
               sans-serif;
}

/*-- ロゴ --*/
.logo-image {
  background-image: image-url('postrail_logo.png');
  width: 172px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  filter: brightness(0.5);
  // filter: invert(11%) sepia(71%) saturate(5170%) hue-rotate(21deg) brightness(81%) contrast(111%);
}

/*-- validationがかかるとレイアウトが崩れるのを防ぐ --*/
.field_with_errors {
  display: contents;
}

a:not(#search-text, .form-button-common,
      .nav-link, .fa-heart, .delete-button,
      .login_name_display) {
  color: $text-color!important;
  text-decoration: none!important;
  &:hover:not(.devise-link, .post-trash-button, .post-edit-button,
              #view_more, .user-edit-button, .basic-button,
              .follow-button, .unfollow-button) {
    transition: 0.3s!important;
    background-color: rgba($main-color, 0.1);
  }
  &:focus {
    outline: none!important;
  }
}

.content {
  color: $text-color;
  flex: 1;
  background-image: image-url("background_image.png");
}

header, footer {
  width: 100%;
  background-color: $main-color;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.alert {
  margin-bottom: 0!important;
  text-align: center;
  font-weight: bold;
}

li {
  list-style: none;
}

.header-link {
transition: .4s;
border-radius: 10px
}

.header-link:hover {
transition: .4s;
background-color: rgba(250, 250, 250, 0.5) ;
}

/* --見出しの下に線-- */
h1, h2, h3 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

h1 {
  margin-bottom: 50px!important;
  &:before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: $main-color;
  }
}

h2:before, h3:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 15px);
  width: 30px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: $main-color;
}

h4 {
  margin: 30px auto!important;
  padding: 0.5em;/*文字周りの余白*/
  color: $text-color;/*文字色*/
  background: rgba($main-color, 0.1);/*背景色*/
  border-bottom: solid 3px $main-color;/*下線*/
}

/*-- kaminariのデザイン変更 --*/

.pagination>li>a {
  border: none;
  color: $text-color!important;
  .pagination>li>a:hover {
    border-radius: 15px;
  }
}
.pagination>.active>a {
  background: lighten($button-color, 10%)!important;
  border-radius: 15px;
}


/* ==================================================

                      トップページ

===================================================== */

/*-- トップページのヘッダー変更 --*/

.top-page-header {
  background-color: rgba(#95a99d, 0.9);
}

.top_page_content {
  min-height: 92.5vh;
  position: relative;
}

.top_page_image {
  width: 100vw;
  height: 90.75vh;
  background-image: image-url("standing_alone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  &::before {
    content: 'Trail Riding';
    font-family: fantasy, cursive;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 80%;
  }
}

/*-- ログインボタンなどのdivタグ --*/
.top_page_container {
  width: 100%;
  margin: auto;
  padding: 5px;
  backdrop-filter: contrast(0.7);
}


/* --会話風-- */

@mixin balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 2px #555;
  box-sizing: border-box;
  p {
    margin: 0;
    padding: 3px;
  }
}

.balloon1 {
  @include balloon;
  &:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 8.9%;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 8.5%;
    border: 14px solid transparent;
    border-top: 14px solid #555;
    z-index: 1;
  }
}

.balloon2 {
  @include balloon;

  &:before {
    content: "";
    position: absolute;
    top: -23px;
    left: 83.5%;
    border: 12px solid transparent;
    border-bottom: 12px solid #FFF;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    top: -28px;
    left: 83%;
    border: 14px solid transparent;
    border-bottom: 14px solid #555;
    z-index: 1;
  }
}

.top-last-text {
  background-color: lighten($accent-color, 25%);
  height: 30px;
}


@mixin top-image-position {
  width: 170px;
  height: 130px;
}

.top-image-position {
  @include top-image-position;
  order: 1;
  &.top-image1 {
    background: no-repeat image-url("smartphone_man.png") center;
    // background-size: 120px 80px;
    background-size: contain;
  }
}

.top-image-position {
  @include top-image-position;
  &.top-image2 {
    background: no-repeat image-url("smartphone_woman.png") center;
    // background-size: 120px 80px;
    background-size: contain;
  }
}

/* ==================================================

                    アバウトページ

===================================================== */

/*-- アバウトページ写真左右に --*/

@mixin about-image-position {
  width: 170px;
  height: 160px;
}

/*-- アバウトページ：写真が左 --*/

.about-image-position {
  @include about-image-position;
  margin: auto;
  order: 1;
  &.about-image1 {
    background: no-repeat image-url("sunset-sea-ride.jpg") center;
    background-size: contain;
  }
  &.about-image3 {
    background: no-repeat image-url("canter_in_seaside_alone.jpg") center;
    background-size: contain;
  }
  &.about-image5 {
    background: no-repeat image-url("ride-in-summer.jpg") center;
    background-size: contain;
  }
}

/*-- アバウトページ：写真が右 --*/

/*-- ↓にorder:2が入るとスマホの時に画像が上に来ないため分けてある --*/
.about-image-position {
  @include about-image-position;
  &.about-image2 {
    background: no-repeat image-url("rider_eye_on_horse.jpg") center;
    background-size: contain;
  }
  &.about-image4 {
    background: no-repeat image-url("horses-in-forest.jpg") center;
    background-size: contain;
  }
}

/*-- 文字を画像の右側に配置させる --*/

.about-text-right {
  order: 2;
}

/* ==================================================

                      投稿関係

===================================================== */

/* =================================
              投稿一覧 
================================== */

.post-card {
  &:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  taransform: (1.03);
  }
  .card-header {
    background-color: rgba($main-color, 0.05)!important;
  }
  .card_body {
    pointer-events: none;
    text-decoration:none;
    color:#000000;
  }
  .card-footer {
    background-color: rgba($main-color, 0.05)!important;
    svg.fa-heart {
      color: crimson;
    }
  }
}

/*-- 投稿フォーム --*/
.post-preview {
  width: 100%;
  oject-fit: cover;
}

/* =================================
              タグ 
================================== */

.tags_list ul li {
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: lighten($main-color, 20%);
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
  &:before{
    display:inline-block;
    vertical-align: unset;
    padding-top: 2px;
    /*以下白丸つくる*/
    content:'';
    width:1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
  }
}

/* --タグ用ツールチップ-- */

.tag-container {
  position: relative;
  &:hover .tag-content, &:hover .tag-name-flow {
    opacity: 1;
    pointer-events: initial;
  }
  .tag-content {
    opacity: 0;
    width: 175px;
    height: 70px;
    pointer-events: none;
    color: #fff;
    background-color: rgba($button-color, 1.3);
    border-radius: 2px;
    bottom: -55%;
    left: 115.5%;
    position: absolute;
    transform: translate(-50%, -8px);
    z-index: 10;
    padding: 9px;
    text-align: center;
    border: 2px solid lighten($button-color, 11%);
  }
  .tag-name-flow {
    opacity: 0;
    pointer-events: none;
    border: 17px solid transparent;
    border-right-color: rgba($button-color, 1.3);
    bottom: 28%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, 8px);
    height: 0;
    width: 0;
    z-index: 10;
  }
}

/* =================================
              投稿詳細
================================== */

/*-- 投稿詳細＋コメント欄 --*/

.comment-respond { /*入力欄全体の枠*/
  // border: 2px solid $button-accent-color;
  margin-top: -2px;
  padding: 10px 0;
  background-color: rgba($button-color, 0.1);
  p {
    margin: 1em 0;
  }
  .comment-form { /*フォーム部分の枠*/
    padding: 20px;
    input[type="text"], textarea { /*入力スペースの装飾*/
      padding: 11px;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      width: 100%;
      height: 150px;
      background: lighten(grey, 70%); /*入力スペースの背景色*/
      &:focus {
        outline: none!important;
        border: 2px solid $text-color;
      }
    }
    input[type="submit"] { /*送信ボタンの装飾*/
      -webkit-appearance: none;
      padding: 11px;
      width: 100%;
      margin: 0;
      cursor: pointer;
      background: lighten($button-color, 7%);
      color: $text-color;
      border: none;
      font-size: 16px;
      transition: 0.3s;
      &:hover {
        color: #fff;
        background: $button-accent-color;
        transition: 0.3s;
      }
    }
  }
}
.message-balloon {
  display: flex;
  align-items: flex-start;
  max-width: 90%;
  margin: 20px auto;
  img {
    margin: 5px 10px 0 0;
    padding: 5px;
  }
}
.message-text {
  flex-grow: 1;
  padding: 0 30px;
  color: #454545;
  font-size: 0.875rem;
  line-height: 1.375rem;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #a7a7a7;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    position: absolute;
    top: 25px;
  }
}

/*-- アイコン右 --*/
.current-user-comment {
  margin-top: 20px;
  flex-direction: row-reverse;
  img {
    margin: 5px 0 0 10px;
  }
  .message-text {
    background: #f5f5f5;
    &::after {
      border-left: solid 12px #f5f5f5;
      right: -12px;
    }
  }
}

/*-- アイコン左 --*/
.other-user-comment {
  .message-text {
    background: #ece9e3;
    &::after {
      border-right: solid 12px #ece9e3;
      left: -12px;
    }
  }
}

/*-- コメントのもっと見るボタン --*/

.more-comments {
  text-align: center;
}

/* ==================================================

                    adminのタグ一覧

===================================================== */

table {
  background-color: rgba($button-color, 0.1);
  thead {
    background-color: lighten($button-color, 15);
  }
}

/* ==================================================

                    ユーザー関係

===================================================== */


/*-- プロフィール部分 --*/

.profile-area {
  padding: 0 0 64px;
  .profile-content {
    margin: 0 auto;
    // padding: 16px;
  }
  .profile-image {
    margin-bottom: 30px;
    text-align: center;
    & img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: lighten($button-color, 20%);
    }
  }
  .user-profile-table {
    background-color: rgba($main-color, 0.1);
    td {
      width: 25%;
    }
  }
  .user-under-line {
    padding: 1rem 2rem;
    border-bottom: 0.5px solid #000;
  }
  /*-- ベルマークを小さく --*/
  svg {
    font-size: large;
  }

  /*-- 通知の丸を小さく --*/
  .fa-circle {
    color: #ec8f51;
    font-size: 12px;
    bottom: 16px;
    left: 24px;
  }
}

/* ==================================================

                      質問関係

===================================================== */

/*-- アコーディオン --*/

/* アコーディオンメニュー全体のサイズ・位置 */
.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* クリック領域 */
  .accordion-parent {
    height: 65px;
    margin-top: 30px;
    border-bottom: 1px solid #fff;
    background-color: rgba($main-color, 0.6);
    color: $text-color;
    cursor: pointer;
    padding: 10px 20px;
    .category-text {
      font-size: 14px;
      font-weight: 100;
    }
  }
  /* クリックしたら表示される領域 */
  .accordion-child {
    display: none;
    padding: 20px;
    background-color: lighten($main-color, 20%);
  }
}

/*-- 横スクロール --*/

.side-scroll-parent {
  margin: 30px auto;
  height: 60px;
  width: 400px;
  display: flex;
  overflow-x: scroll;
  background-color:cornflowerblue;
  .side-scroll-child {
    padding: 7px;
    margin: 10px;
    min-width: 110px;
    text-align: center;
    background-color: aquamarine;
  }
}
