// スマホ
@media screen and (max-width: 507px) {

  .logo-image {
    width: 140px;
  }

  .no-text-phone {
    display: none;
  }

  .post-tag-list {
    justify-content: end;
  }

  .user-profile-table .button-text {
    display: none;
  }

  .edit-and-delete-buttons {
    text-align: right;
  }

}

// タブレット
@media screen and (max-width: 759px) {

  h1 {
    padding-top: 0;
  }

  .container {
    margin-top: 0px;
  }

  button.navbar-toggler {
    display: inline;
    // margin: -6px 0 0 260px;
  }

  .top-image-position {
    width: 150px!important;
    &.top-image2 {
      margin-left: 170px;
    }
  }

  .about-text {
    order: 2;
  }

  .top-text {
    order: 0;
  }

  .divise-form {
    display: block;
  	.devise-label {
  	  margin-top: 12px
  	}
	}

  .login_name_display {
    display: none;
  }

  /*-- ボタンの中身の文字消す --*/

  .button-text {
    display: none;
  }

}

@media screen and (max-width: 991px) {
  .about-image-position {
    margin: 0 auto;
    width: 95%!important;
    height: 355px;
    &.about-image1 {
    background-size: cover;
    }
    &.about-image3 {
    background-size: cover;
    }
  }
  // ↓にorder:2が入るとスマホの時に画像が上に来ないため分けてある
  .about-image-position {
    &.about-image2 {
      background-size: cover;
    }
  }

  .about-text {
    margin: 20px auto;
  }

  /*-- アバウトページの写真2枚目をテキストの上に --*/
  .about-text-to-bottom {
    order: 2;
  }
}

@media screen and (max-width: 1199px) {
  /*押し間違い防止でログアウトに要素をかける*/
  #search-text{
    width: 80px;
    right: 27px;
  }

  .card-deck.card {
    min-width: 220px;
  }

  .tag-container {
    .tag-content {
      left: 130.8%;
    }
    .tag-name-flow {
      // 変更加えてる↓
      left: 88%;
    }
  }

  .user-edit-button {
    padding: 0.3em 1em;
  }

  .user-introduction {
    display: none;
  }




}