// スマホ
@media screen and (max-width: 480px) {
  .login_customer_disp_name {
    display: none;
  }

  button.navbar-toggler {
    display: inline;
    margin: -6px 0 0 260px;
  }
}

@media screen and (max-width: 959px) {
  input.search-submit {
    // width: 80px;
    // height: 60px;
  }
  /*押し間違い防止でログアウトに要素をかける*/
  #search-text{
    // width: 200px;
    // right: 80px;
  }
}