@media screen and (max-width: 1199px) {
  /*押し間違い防止でログアウトに要素をかける*/

  .tag-container {
    .tag-content {
      left: 130.8%;
    }
    .tag-name-flow {
      left: 88%;
    }
  }

  .card-deck.card {
    min-width: 220px;
  }

  .user-edit-button {
    padding: 0.3em 1em;
  }

  .user-introduction {
    display: none;
  }

}

@media screen and (max-width: 991px) {
  .about-image-position {
    margin: 0 auto;
    width: 95%!important;
    height: 355px;
    &.about-image1, &.about-image3, &.about-image5 {
    background-size: cover;
    }
  }
  // ↓にorder:2が入るとスマホの時に画像が上に来ないため分けてある
  .about-image-position {
    &.about-image2, &.about-image4 {
      background-size: cover;
    }
  }

  .about-text {
    margin: 20px auto;
  }

  /*-- アバウトページの写真2枚目をテキストの上に --*/
  .about-text-to-bottom {
    order: 2;
  }

  /*-- ハンバーガーメニュー時の位置調整+ログアウト押し間違い防止 --*/
  #search-wrap {
    right: 35px;
    #search-text{
      width: 80px;
      right: 30px;
      &:focus {
        right: 250px;
        width: 250px;
      }
    }
  }

}


// タブレット
@media screen and (max-width: 759px) {

  h1 {
    padding-top: 0;
  }

  .container {
    margin-top: 0px;
  }

  button.navbar-toggler {
    display: inline;
  }

  .top_page_image::before {
    top: 80%;
    left: 70%;
  }

  .top-image-position {
    width: 150px!important;
    &.top-image2 {
      margin-left: 160px;
    }
  }

  .about-text {
    order: 2;
  }

  .top-text {
    order: 0;
  }

  .divise-form {
    display: block;
  	.devise-label {
  	  margin-top: 12px
  	}
	}

  .login_name_display {
    display: none;
  }

  /*-- ボタンの中身の文字消す --*/

  .button-text {
    display: none;
  }

}

// スマホ
@media screen and (max-width: 575px) {

  .container {
    padding: 30px 0;
  }

  .logo-image {
    width: 140px;
  }

  .top_page_image::before {
    top: 85%;
    left: 60%;
  }

  .top-image-position {
    &.top-image2 {
      margin-left: 20px!important;
    }
  }

  .no-text-phone {
    display: none;
  }

  .new-post-button {
    position: absolute;
  }

  .moving_card_icons {
    display: block!important;
  }

  .edit-and-delete-buttons {
    text-align: right;
  }

  .post-tag-list {
    justify-content: end;
  }

  .user-profile-table {
    &.button-text {
      display: none;
    }
    td {
      display: block;
      width: 100%!important;
    }
  }


}
