.row
  .mx-auto
    %h1 いいねした投稿一覧
  .new-post-button
    = link_to new_post_path do
      %i.fas.fa-plus
      
- if @like_posts.present?
  - if admin_signed_in?
    = render 'admin/posts/admin_posts_index', posts: @like_posts
  - else
    .col-md-10.col-lg-8.mx-auto
      = render 'public/posts/posts_index', posts: @like_posts
- else
  %p.text-center  まだいいねをしていません