%footer
  .container.mt-5
    %p.footertopline
    .row.footer_area
      .mx-auto
        FOLLOW US ON
        %span.icon
          %i.fab.fa-twitter-square
        %span.icon
          %i.fab.fa-instagram-square
          %span.icon
          %i.fab.fa-facebook-square