%nav.navbar.navbar-expand-lg.navbar-light.p-3
  .container
    // urlの中にadminが含まれていたら
    -if request.path.match(/\/admin(\/)?/) || admin_signed_in?
      = render 'layouts/admin_header'
    -else
      = render 'layouts/user_header'