%nav.navbar.navbar-expand-lg.navbar-light.py-3.px-5
  // urlの中にadminが含まれていたら
  -if request.path.match(/\/admin(\/)?/) || admin_signed_in?
    = render 'layouts/admin_header'
  -else
    = render 'layouts/user_header'