%body
  %header.Header
    %nav.navbar.navbar-expand-lg.navbar-light.p-3{style: "background-color:#fffacd;"}
      .container
        -if request.path.match(/\/admin(\/)?/)
          = render 'layouts/admin_header'
        -else
          = render 'layouts/user_header'